<div class="background" >
    <div class="container section-title text-center">
        <h1 class="display-1">Puntos de venta</h1>
    </div>
    <div class="row d-flex justify-content-center align-items-center mx-auto">
        <div class="col-lg-4 col-md-6 mb-4">
            <a [routerLink]="['/puntos-de-ventas-mexico']" routerLinkActive="router-link-active"><img class="img-fluid z-depth-1"
                    src="../../../assets/img/puntos-de-ventas/mexico.png" alt="Puntos de venta en México"></a>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <a [routerLink]="['/puntos-ventas-eua']" routerLinkActive="router-link-active" ><img class="img-fluid z-depth-1" src="../../../assets/img/puntos-de-ventas/eua.png"
                    alt="Puntos de venta en Estados Unidos" ></a>
        </div>
    </div>
</div>
<!-- <div class="background" >
    <div class="container section-title text-center">
        <h1 class="display-1">Puntos de venta</h1>
    </div>
    <div class="row justify-content-center mx-auto">
        <div class="col-lg-4 col-md-6 mb-4">
            <a [routerLink]="['/puntos-de-ventas-mexico']" routerLinkActive="router-link-active"><img class="img-fluid z-depth-1"
                    src="../../../assets/img/puntos-de-ventas/mexico.png" alt="Puntos de venta en México"></a>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <a [routerLink]="['/puntos-ventas-eua']" routerLinkActive="router-link-active" ><img class="img-fluid z-depth-1" src="../../../assets/img/puntos-de-ventas/eua.png"
                    alt="Puntos de venta en Estados Unidos" ></a>
        </div>
    </div>
</div> -->
