<!-- <p>galeria-momentos-carmelita works!</p> -->
<div class="container mt-5 pt-5 mb-5">
    <div class="row mx-auto text-center mt-5">
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img1" [alt]="momentos.alt1">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img2" [alt]="momentos.alt2">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img3" [alt]="momentos.alt3">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img4" [alt]="momentos.alt4">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img5" [alt]="momentos.alt5">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img6" [alt]="momentos.alt6">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img7" [alt]="momentos.alt7">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img8" [alt]="momentos.alt8">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img9" [alt]="momentos.alt9">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img10" [alt]="momentos.alt10">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img11" [alt]="momentos.alt11">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img12" [alt]="momentos.alt12">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img13" [alt]="momentos.alt13">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img14" [alt]="momentos.alt14">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img15" [alt]="momentos.alt15">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img16" [alt]="momentos.alt16">
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <img mat-card-image [src]="momentos.img17" [alt]="momentos.alt17">
        </mat-card-content>
      </mat-card>
    </div>
  </div>