@font-face {
    font-family: GIOVANNI;
    src: url('../../../assets/font/GIOVANNI.ttf') format("truetype");
}
.example-card {
    max-width: 400px;
  }

  mat-card-content{
    background: #741b1d !important;
    color: #ffffff !important;
    text-decoration: none;
  }
  mat-card-content:hover{
    background: #9f6006 !important;
    color: #b49e5e !important;
    text-decoration: none;
    
  }
   h2{
    color: #ffffff !important;
    text-decoration: none;
    font-family: GIOVANNI;
  }
  a{
    color: #ffffff !important;
    text-decoration: none;
  }
  h2:hover, a:hover{
    color: #000000 !important;
    text-decoration: none;
  }
