<div class="container mt-5 pt-5 mb-5">
  <div class="row mx-auto text-center mt-5">
    <mat-card class="example-card">
      <mat-card-content>
        <img mat-card-image [src]="recetas.galeria1" [alt]="recetas.galeriaalt1">
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <img mat-card-image [src]="recetas.galeria2" [alt]="recetas.galeriaalt2">
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <img mat-card-image [src]="recetas.galeria3" [alt]="recetas.galeriaalt3">
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <img mat-card-image [src]="recetas.galeria4" [alt]="recetas.galeriaalt4">
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <img mat-card-image [src]="recetas.galeria5" [alt]="recetas.galeriaalt5">
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <img mat-card-image [src]="recetas.galeria6" [alt]="recetas.galeriaalt6">
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <img mat-card-image [src]="recetas.galeria7" [alt]="recetas.galeriaalt7">
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <img mat-card-image [src]="recetas.galeria8" [alt]="recetas.galeriaalt8">
      </mat-card-content>
    </mat-card>
  </div>
</div>