<div class="background">
    <div class="container section-title text-center">
        <h1 class="display-1">
            Contáctanos
        </h1>
        <div class="row d-flex justify-content-center mx-auto align-items-center">
            <div class="col-lg-4 col-md-6 mb-4 mx-auto">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.872450213351!2d-101.21323498540681!3d19.675446337969422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0c339245e189%3A0xc5eca7aeb21f3602!2sGuarder%C3%ADa%20y%20Maternal%20Campanita!5e0!3m2!1ses-419!2smx!4v1619034601735!5m2!1ses-419!2smx"
                     frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
        <div class="row d-flex justify-content-center mx-auto align-items-center">
            <button class="phone d-flex align-items-center justify-content-center pr-4 pl-4 mr-4 ml-4">
                <a mat-flat-button  href="tel:+524435065491" target="_blank">
                    <i class="fas fa-phone fa-2x"></i>
                 </a>
            </button>
            <button class="mail d-flex align-items-center justify-content-center pr-4 pl-4 mr-4 ml-4">
                <a mat-flat-button  href="mailto:contacto@robemex.com" target="_blank">
                    <i class="fas fa-envelope fa-2x"></i>
                  </a>
            </button>
            <button class="mail d-flex align-items-center justify-content-center pr-4 pl-4 mr-4 ml-4">
                <a mat-flat-button  href="https://api.whatsapp.com/send?phone=+524432760389" target="_blank">
                    <i class="fab fa-whatsapp fa-2x"></i>
                  </a>
            </button>
        </div>
    </div>
</div>

<!-- <div class="background ">
    <div class="container section-title text-center">
        <h1 class="display-1">Contáctanos</h1>
        <div class="row justify-content-center mx-auto align-items-center">
            <div class="col-lg-4 col-md-6 mb-4 mx-auto">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.872450213351!2d-101.21323498540681!3d19.675446337969422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0c339245e189%3A0xc5eca7aeb21f3602!2sGuarder%C3%ADa%20y%20Maternal%20Campanita!5e0!3m2!1ses-419!2smx!4v1619034601735!5m2!1ses-419!2smx"
                     frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
        <div class="row mx-auto text-center justify-content-center">
            <button class="phone justify-content-center pr-4 pl-4 mr-4 ml-4">
                <a mat-flat-button  href="tel:+524435065491" target="_blank">
                    <i class="fas fa-phone fa-2x"></i>
                 </a>
            </button>
            <button class="mail justify-content-center pr-4 pl-4 mr-4 ml-4">
                <a mat-flat-button  href="mailto:contacto@robemex.com" target="_blank">
                    <i class="fas fa-envelope fa-2x"></i>
                  </a>
            </button>
            <button class="mail justify-content-center pr-4 pl-4 mr-4 ml-4">
                <a mat-flat-button  href="https://api.whatsapp.com/send?phone=+524432760389" target="_blank">
                    <i class="fab fa-whatsapp fa-2x"></i>
                  </a>
            </button>
        </div>
    </div>
    

    
</div> -->