<div class="container mt-5 pt-5 mb-5">
  <div class="row mx-auto text-center mt-5">
    <mat-card class="example-card">
      <img mat-card-image [src]="recetas.img" width="200px" class="img-fluid" [alt]="recetas.alt">
      <mat-card-content>
        <h2>{{recetas.nombre}}</h2>
        <span>{{recetas.descripcion}}</span>
        <div class="spacer"></div>
        <div class="col">
          <h2 class="text-left">Ingredientes</h2>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente1}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente2}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente3}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente4}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente5}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente6}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente7}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente8}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente9}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente10}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente11}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente12}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente13}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente14}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente15}}</p>
        <div class="spacer"></div>
        <p class="text-left">{{recetas.ingrediente16}}</p>
        </div>
        <div class="spacer"></div>
        <div class="col">
          <h2 class="text-right mx-auto">Instrucciones</h2>
          <div class="spacer"></div>
          <p class="text-right mx-auto">{{recetas.pr1}}</p>
          <div class="spacer"></div>
          <p class="text-right mx-auto">{{recetas.pr2}}</p>
          <div class="spacer"></div>
          <p class="text-right mx-auto">{{recetas.pr3}}</p>
          <div class="spacer"></div>
          <p class="text-right mx-auto">{{recetas.pr4}}</p>
          <div class="spacer"></div>
          <p class="text-right mx-auto">{{recetas.pr5}}</p>
          <div class="spacer"></div>
          <p class="text-right mx-auto">{{recetas.pr6}}</p>
          <div class="spacer"></div>
          <p class="text-right mx-auto">{{recetas.pr7}}</p>
          <div class="spacer"></div>
          <p class="text-right mx-auto">{{recetas.pr8}}</p>
          <div class="spacer"></div>
          <p class="text-right mx-auto">{{recetas.pr9}}</p>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>