<div id="icon-bar"> 

    <a href="https://api.whatsapp.com/send?phone=+524432760389" class="whatsapp" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a> 
    <a href="https://www.facebook.com/RompopeCarmelita" class="facebook" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/rompope_carmelita/"target="_blank" class="instagram">
        <i class="fab fa-instagram"></i>
    </a> 
    <a href="https://www.youtube.com/channel/UCx-a8pvWWzQi2rW188voCHQ" target="_blank" class="youtube">
        <i class="fab fa-youtube"></i>
    </a>
</div>