<!-- <p>puntos-ventas-eua works!</p> -->
<div class="container mt-5 pt-5">
  <div class="content-wrapper">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-12 col-lg">
        <h1 class="section-title card-title display-4">
          <strong>Encuentra Rompope Carmelita</strong>
        </h1>
        <p class="mb-4">
          Descubre los puntos de venta y consumo más cercanos en el mapa.
        </p>
        <button class="btn btn-primary" >
          <a mat-flat-button  href="https://www.google.com/maps/d/u/0/viewer?mid=1G1_PQYw3tq5GUMHrsJMLXgUfUTC_Xs-0&ll=0%2C0&z=6" target="_blank">
            Ver mapa completo <i class="fas fa-location-arrow right"></i>
          </a>
          </button>
      </div>
      <div class="col-12 col-lg-6">
        <<img src="../../../assets/img/puntos-ventas-eua/mapa-eua-carmelita.png"
        style="margin-bottom: 1rem; width: 100%;"
class=" mt-2 mr-5 d-block" alt="Mapa de Rompope Carmelita en Estados Unidos
">
      </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-4 mb-3">
    <div class="col-md-3 card">
      <img src="../../../assets/img/puntos-ventas-eua/costco-eua.png" width="240" height="240" class="img-fluid" alt="">
    </div>
    <div class="col-md-3 card">
      <img src="../../../assets/img/puntos-ventas-eua/chavez.png" width="240" height="240" class="img-fluid" alt="">
    </div>
    <div class="col-md-3 card">
      <img src="../../../assets/img/puntos-ventas-eua/la-superior.png" width="240" height="240" class="img-fluid" alt="">
    </div>
    
  </div>
    </div>
    </div>